@import url("https://fonts.googleapis.com/css?family=Righteous");
body {
  color: #918e88;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-decoration-style: none; }

h2 {
  color: #d84315;
  font-size: 2.85em;
  margin: 30px auto;
  font-family: 'Righteous',cursive;
  text-rendering: optimizelegibility; }

h3 {
  color: #000000;
  font-size: 1.85em;
  font-family: 'Righteous',cursive;
  text-rendering: optimizelegibility;
  margin: 30px auto; }

h4 {
  color: #000000; }

p {
  font-size: 1.07em;
  color: #918e88;
  margin-top: 15px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

hr {
  border-top: 5px solid rgba(90, 90, 90, 0.28);
  width: 100%; }

.link {
  color: #ffffff;
  text-decoration: none; }
  .link:hover {
    text-decoration: none; }
  .link:visited {
    color: #ffffff;
    text-decoration: none; }
  .link:active {
    text-decoration: none; }

.round-item-1 {
  color: #ffffff;
  font-family: 'Righteous',cursive;
  font-size: 2.85em;
  border-radius: 50%;
  padding: 25px 31px;
  background-color: #f2841e;
  float: left;
  margin-top: 20px; }

.round-item {
  color: #ffffff;
  font-family: 'Righteous',cursive;
  font-size: 2.85em;
  border-radius: 50%;
  padding: 25px 26px;
  background-color: #f2841e;
  float: left;
  margin-top: 20px; }

#list-news ol {
  margin-top: -15px; }
#list-news ol li {
  list-style: none;
  display: inline-block; }

.text-news {
  display: inline-block;
  text-align: left; }

.round-img {
  border-radius: 50%; }

.btn-bg-color {
  background-color: #000000; }
  .btn-bg-color:hover {
    background-color: #d84315; }

.margins-titles {
  margin: 30px auto; }

.btn-read-more {
  color: #fff;
  padding: 10px;
  font-weight: bolder;
  border-radius: 10px;
  border-style: none;
  text-decoration: none; }

.link-read-more {
  color: #000000;
  font-weight: normal;
  text-decoration: none; }
  .link-read-more:hover {
    color: #d84315; }

.carousel-indicators li {
  background-color: #ffffff;
  border: none;
  width: 100px; }
.carousel-indicators .active {
  background-color: #d84315;
  border: none;
  width: 100px; }

.text-latest-news {
  width: 100%;
  text-align: left;
  padding-left: 120px; }

.testimonies {
  padding: 0px 0px 0px 48px;
  margin: 0 0 20px;
  position: relative;
  text-align: left; }
  .testimonies:before {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '"';
    color: #f2841e;
    font: 60px/40px Righteous, cursive; }

footer {
  background-color: #101010;
  color: #ffffff;
  height: 100px;
  padding-top: 50px; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #d84315; }
  footer ul {
    display: inline-block;
    list-style: none; }

/*RESPONSIVE*/
@media (max-width: 768px) {
  h2 {
    text-align: -webkit-center; }

  h3 {
    text-align: -webkit-center; } }
@media (max-width: 992px) {
  h2 {
    text-align: -webkit-center; }

  h3 {
    text-align: -webkit-center; } }
h1 {
  color: #918e88; }
