@import url("https://fonts.googleapis.com/css?family=Righteous");
body {
  color: #918e88;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none !important; }

h2 {
  color: #d84315;
  font-size: 2.85em;
  margin: 30px;
  font-family: 'Righteous',cursive;
  text-rendering: optimizelegibility; }

h3 {
  color: #000000;
  font-size: 1.85em;
  font-family: 'Righteous',cursive;
  text-rendering: optimizelegibility; }

h4 {
  color: #000000 !important; }

p {
  font-size: 1.07em;
  color: #918e88;
  margin-top: 15px; }

.link {
  color: #ffffff;
  text-decoration: none !important; }
  .link:hover {
    text-decoration: none !important; }
  .link:visited {
    color: #ffffff;
    text-decoration: none !important; }

.round-item-1 {
  color: #ffffff;
  font-family: 'Righteous',cursive;
  font-size: 2.85em;
  border-radius: 50%;
  padding: 25px 31px;
  background-color: #f2841e;
  float: left;
  margin-top: 20px; }

.round-item {
  color: #ffffff;
  font-family: 'Righteous',cursive;
  font-size: 2.85em;
  border-radius: 50%;
  padding: 25px 26px;
  background-color: #f2841e;
  float: left;
  margin-top: 20px; }

#list-news ol li {
  list-style: none;
  display: inline-block; }

.text-news {
  display: inline-block;
  text-align: left; }

.round-img {
  border-radius: 50%; }

.btn-bg-color {
  background-color: #000000; }
  .btn-bg-color:hover {
    background-color: #d84315; }

.margins-titles {
  margin: 30px 0; }

.btn-read-more {
  color: #fff;
  padding: 10px;
  font-weight: bolder;
  border-radius: 10px;
  border-style: none;
  text-decoration: none !important; }

.link-read-more {
  color: #000000;
  font-weight: normal; }
  .link-read-more:hover {
    color: #d84315; }

.carousel-indicators li {
  background-color: #ffffff !important;
  border: none; }
.carousel-indicators .active {
  background-color: #d84315 !important;
  border: none; }

h1 {
  color: #918e88; }
