@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
	color: $text-color; 
	font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 18px; 
    text-decoration: none;
    text-decoration-style: none;
}

h2{
	color: $main-title-color;
	font-size: 2.85em;
	margin:30px auto;
	font-family: 'Righteous',cursive;
	text-rendering: optimizelegibility;
	
}

h3{
	color: $sub-title-color;
	font-size: 1.85em;
	font-family: 'Righteous',cursive;
	text-rendering: optimizelegibility;
	margin:30px auto;
	
}

h4{
	color: $sub-title-color;
}

p{
	font-size: 1.07em;
	color:$text-color;
	margin-top: 15px;
	
}

a{
	text-decoration: none;

	&:hover{
		text-decoration:none;
	}
	&:visited{
		text-decoration:none;
	}
	&:active{
		text-decoration: none;
	}
}

hr{
	border-top: 5px solid rgba(90, 90, 90, 0.28); 
	width: 100%;
}

header{
	background-color: $head-foot-bg-color;
	color: $link-color;
	height: 200px;
	font-family: 'Righteous',cursive;
	font-size: 20px;
	z-index: 1000;

	a{
		color: $link-color;
		margin-left: 20px;

		&:hover{
			color: $main-title-color;
		}
	}

	.head-nav{
		color: $link-color;
		float: right;

		&:hover{
			color: $main-title-color;
		}
	}
}

.link{
	color: $link-color;
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}

	&:visited{
		color: $link-color-visited;
		text-decoration: none; 
	}
	&:active{
		text-decoration: none;
	}

}

.round-item-1{
	color: #ffffff;
    font-family: 'Righteous',cursive;
    font-size: 2.85em;
    border-radius: 50%;
    padding: 25px 31px;
    background-color: #f2841e;
    float: left;
    margin-top: 20px;
}

.round-item{
    color: #ffffff;
    font-family: 'Righteous',cursive;
    font-size: 2.85em;
    border-radius: 50%;
    padding: 25px 26px;
    background-color: #f2841e;
    float: left;
    margin-top: 20px;
}

#list-news{
	ol{
		margin-top: -15px;
	}
	ol{
		li{
			list-style: none;
			display: inline-block;
		}
	}
}  

.text-news{
	display: inline-block;
	text-align: left;
}

.round-img{
	border-radius: $image-radius;
}

.btn-bg-color{
	background-color: $button-bg-color;

	&:hover{
		background-color: $button-bg-hover-color;
	}
}

.margins-head-foot{
	margin: 90px auto;
}

.margins-titles{
	margin: 30px auto;
}

.btn-read-more{
	color: #fff;
	padding: 10px;
	font-weight: bolder;
	border-radius: 10px;
	border-style: none;
	text-decoration:none;
}

.link-read-more{
	color: $sub-title-color;
	font-weight: normal;
	text-decoration: none;
	
	&:hover{
		color: $main-title-color;
	}
}

.carousel-indicators{
	li{
		background-color: $link-color;
		border:none;
		width: 100px;
	}
	.active{
		background-color: $button-bg-hover-color;
		border:none;
		width: 100px; 
	}

}

.text-latest-news{
	width: 100%; 
	text-align: left; 
	padding-left: 120px;
}

.testimonies{
	padding: 0px 0px 0px 48px;
	margin: 0 0 20px;
	position: relative;
	text-align: left;

	&:before{
		position: absolute;
		left: 0px;
		top: 0px;
		content: '"';
		color: #f2841e;
		font: 60px/40px Righteous, cursive;
	}
}

footer{
	background-color: $head-foot-bg-color;
	color: $link-color;
	height: 100px;

	a{
		color: $link-color;
		margin-left: 10px;

		&:hover{
			color: $main-title-color;
		}
	}

	#copiright{
		margin-top: 8px;
	}

	.social-fb{
		padding: 10px 13px;
		background-color: #1c1b1b; 
		color: $link-color;  
		border-radius: $image-radius;
		float: right;
		margin-left: 15px;

		&:hover{
			color: $link-color;
			background-color: $main-title-color;
		}
	}

	.social{
		background-color: #1c1b1b; 
		color: $link-color; 
		padding: 10px 10px; 
		border-radius: $image-radius;
		float: right;
		margin-left: 15px;

		&:hover{
			color: $link-color;
			background-color: $main-title-color;
		}
	}
}

/*RESPONSIVE*/

@media (max-width: 768px){
	h2{
		text-align: -webkit-center;
	}
	h3{
		text-align: -webkit-center;
	}
	.social{
		float: none;
	}
}

@media (max-width: 992px){
	h2{
		text-align: -webkit-center;
	}
	h3{
		text-align: -webkit-center;
	}
}

@import 'index';
