@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Righteous');

/*GENERAL STYLES*/

body{
	color: $text-color; 
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px; 
	text-decoration: none;
	text-decoration-style: none;
}

h2{
	color: $main-title-color;
	font-size: 2.85em;
	margin:30px auto;
	font-family: 'Righteous',cursive;
	text-rendering: optimizelegibility;	
}

h3{
	color: $sub-title-color;
	font-size: 1.85em;
	font-family: 'Righteous',cursive;
	text-rendering: optimizelegibility;
	margin:30px auto;
}

h4{
	color: $sub-title-color;
}

p{
	font-size: 1.07em;
	color:$text-color;
	margin-top: 15px;
}

a{
	text-decoration: none;

	&:hover{
		text-decoration:none;
	}
	&:visited{
		text-decoration:none;
	}
	&:active{
		text-decoration: none;
	}
}

.link{
	color: $link-color;
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}

	&:visited{
		color: $link-color-visited;
		text-decoration: none; 
	}
	&:active{
		text-decoration: none;
	}
}

hr{
	border-top: 5px solid rgba(90, 90, 90, 0.28); 
	width: 100%;
}

/*HEADER STYLES*/

header{
	background-color: $head-foot-bg-color;
	color: $link-color;
	font-family: 'Righteous',cursive;
	font-size: 20px;

	a{
		color: $link-color;
		margin-left: 20px;

		&:hover{
			color: $main-title-color;
		}
	}

	.head-nav{
		color: $link-color;
		float: right;

		&:hover{
			color: $main-title-color;
		}
	}
	.margins-header{
		margin-top: 60px;
	}

	.margins-header-img{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#header-search{
		input{
			color:$sub-title-color;
		}
	}

	.search{
		width: 63%;
		height: 200px;
		background-color: #101010;
		color: $link-color;
		font-size: 20px;
		padding: 15px;
		display: none;
		position: absolute;
		top: 20px;
		right: -100px;
	}

	.form{
		width: 60%;
		height: 200px;
		background-color: #101010;
		color: $link-color;
		font-size: 24px;
		padding: 15px;
		display: none;
		position: absolute;
		top: 30px;
		right: 50px;
	}

	#header-form{
		z-index: 1000;

		form{
			width: 99%;
			height: 100px;
			margin-top: 10px;
		}

		input{
			width: 100%;
			height: 30px;
			margin-top: 10px;
			background-color: $link-color;
			color: $sub-title-color;
			font-size: 15px;
			padding-left: 10px;
		}

		.btn-login{
			color: #fff;
			padding: 10px;
			margin-top: 10px;
			font-weight: bolder;
			border-radius: 10px;
			border-style: none;
			text-decoration:none;
			background-color: $main-title-color;
		}
	}
}

.btn-contact-us{
	color: #fff;
	padding: 10px;
	margin-top: 10px;
	font-weight: bolder;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-style: none;
	text-decoration:none;
	background-color: $button-bg-hover-color;
	position: fixed;
	bottom: 0;
	right: 3px;
	z-index: 1000;
}

/*HEADER RESPONSIVE STYLES*/

.mini-submenu{
	display:none;  
	background-color: rgba(0, 0, 0, 0);  
	border: 1px solid rgba(0, 0, 0, 0.9);
	border-radius: 4px;
	padding: 9px;  
	/*position: relative;*/
	width: 42px;

}

.mini-submenu:hover{
	cursor: pointer;
}

.mini-submenu .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
	margin-top: 3px;
}

.mini-submenu .icon-bar {
	background-color: #000;
}

#slide-submenu{
	background: rgba(0, 0, 0, 0.45);
	display: inline-block;
	padding: 0 8px;
	border-radius: 4px;
	cursor: pointer;
}

.navbar-default {
	background-color: $head-foot-bg-color;
	border-color: $head-foot-bg-color;

	.navbar-toggle {
		border-color: $main-title-color;
		background-color: $main-title-color;

		&:hover{
			background-color:$main-title-color;
		}
		&:visited{
			background-color: $main-title-color;
		}
		&:active{
			background-color: $main-title-color;
		}
		&:focus{
			background-color: $main-title-color;
		}

		.icon-bar{
			background-color: $link-color;
		}
	}
	.navbar-nav{
		li{
			a{
				color: $link-color;

				&:hover{
					color: $link-color;
					background-color: rgba(216, 67, 21, 0.32);
					border-radius: 5px;
				}
				&:visited{
					color: $link-color;
				}
				&:active{
					color: $link-color;
				}
				&:focus{
					color: $link-color;
				}
			}
		}
		.active{
			a{
				color: $link-color;
				background-color: $main-title-color;
				border-radius: 5px;

				&:hover{
					color: $link-color;
					background-color:$main-title-color;
				}
				&:visited{
					color: $link-color;
					background-color: $main-title-color;
				}
				&:active{
					color: $link-color;
					background-color: $main-title-color;
				}
				&:focus{
					color: $link-color;
					background-color: $main-title-color;
				}	
			}
		}
		#nav-form{
			z-index: 2000;
			width: 72%;
			height: 168px;
			background-color: #101010;
			color: #ffffff;
			font-size: 24px;
			padding: 9px;
			display: none;
			position: absolute;
			top: -120px;
			right: 0px;

			form{
				width: 99%;
				height: 100px;
				margin-top: 10px;
			}

			input{
				width: 100%;
				height: 30px;
				margin-top: 10px;
				background-color: $link-color;
				color: $sub-title-color;
				font-size: 15px;
				padding-left: 10px;
			}

			.btn-login{
				color: #fff;
				padding: 10px;
				margin-top: 10px;
				font-weight: bolder;
				border-radius: 10px;
				border-style: none;
				text-decoration:none;
				background-color: $main-title-color;
			}
		}
	}
}

.btn-default {
	color: $link-color;
	background-color: $main-title-color;
	border-color: $main-title-color;

	&:hover{
		color: $link-color;
		background-color: $main-title-color;
		border-color: $main-title-color;
	}
}

/*SLIDER STYLES*/

.carousel-indicators{
	li{
		background-color: $link-color;
		border:none;
		width: 100px;
	}
	.active{
		background-color: $button-bg-hover-color;
		border:none;
		width: 100px; 
	}

}

/*CONTAINER STYLES*/

.margins-titles{
	margin: 30px auto;
}

.round-img{
	border-radius: $image-radius;
}

.btn-bg-color{
	background-color: $button-bg-color;

	&:hover{
		background-color: $button-bg-hover-color;
	}
}

.btn-read-more{
	color: #fff;
	padding: 10px;
	font-weight: bolder;
	border-radius: 10px;
	border-style: none;
	text-decoration:none;
}

.link-read-more{
	color: $sub-title-color;
	font-weight: normal;
	text-decoration: none;
	
	&:hover{
		color: $main-title-color;
	}
}

.round-item-1{
	color: #ffffff;
	font-family: 'Righteous',cursive;
	font-size: 2.85em;
	border-radius: 50%;
	padding: 25px 31px;
	background-color: #f2841e;
	float: left;
	margin-top: 20px;
}

.round-item{
	color: #ffffff;
	font-family: 'Righteous',cursive;
	font-size: 2.85em;
	border-radius: 50%;
	padding: 25px 26px;
	background-color: #f2841e;
	float: left;
	margin-top: 20px;
}

ol{
	margin-top: -15px;
	
	li{
		list-style: none;
		display: inline-block;
	}
}  

.text-news{
	display: inline-block;
	text-align: left;
}

.text-latest-news{
	width: 100%; 
	text-align: left; 
	padding-left: 120px;
}

.testimonies{
	padding: 0px 0px 0px 48px;
	margin: 0 0 20px;
	position: relative;
	text-align: left;

	&:before{
		position: absolute;
		left: 0px;
		top: 0px;
		content: '"';
		color: #f2841e;
		font: 60px/40px Righteous, cursive;
	}
}

/*FOOTER STYLES*/

footer{
	background-color: $head-foot-bg-color;
	color: $link-color;

	a{
		color: $link-color;
		margin-left: 10px;

		&:hover{
			color: $main-title-color;
		}
	}

	span{
		line-height: 50px;
	}

	.margins-footer{
		margin-top: 30px;
	}

	.social-fb{
		padding: 10px 14px;
		background-color: #1c1b1b; 
		color: $link-color;  
		border-radius: $image-radius;
		float: right;
		margin-left: 15px;
		font-size: 20px;

		&:hover{
			color: $link-color;
			background-color: $main-title-color;
		}
	}

	.social{
		background-color: #1c1b1b; 
		color: $link-color; 
		padding: 10px 10px; 
		border-radius: $image-radius;
		float: right;
		margin-left: 15px;
		font-size: 20px;

		&:hover{
			color: $link-color;
			background-color: $main-title-color;
		}
	}
}

/*RESPONSIVE*/

/*WIDTH 767*/

@media (min-width: 396px){
	.navbar-default {
		.navbar-nav{
			#nav-form{
				z-index: 2000;
				width: 61%;
				height: 168px;
				background-color: #101010;
				color: #ffffff;
				font-size: 24px;
				padding: 9px;
				display: none;
				position: absolute;
				top: -121px;
				right: 0px;
			}
		}
	}
}

@media (max-width: 767px){
	.navbar-default {
		.navbar-nav{
			#nav-form{
				z-index: 2000;
				width: 61%;
				height: 168px;
				background-color: #101010;
				color: #ffffff;
				font-size: 24px;
				padding: 9px;
				display: none;
				position: absolute;
				top: -121px;
				right: 0px;
			}
		}
	}
}



/*WIDTH 768*/

@media (min-width: 768px){
	.navbar-default {
		.navbar-nav{
			#nav-form {
				z-index: 2000;
				width: 184%;
				height: 168px;
				background-color: #101010;
				color: #ffffff;
				font-size: 24px;
				padding: 9px;
				display: none;
				position: absolute;
				top: 45px;
				right: 0px;
			}
		}
	}
}

@media (max-width: 768px){
	h2{
		text-align: -webkit-center;
	}
	h3{
		text-align: -webkit-center;
	}
	footer .social{
		float: none;
	}
	footer .social-fb{
		float: none; 
	}
}

/*WIDTH 992*/

@media (max-width: 992px){
	h2{
		text-align: -webkit-center;
	}
	h3{
		text-align: -webkit-center;
	}
}

@import 'index';
