@import url("https://fonts.googleapis.com/css?family=Righteous");
body {
  color: #918e88;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none !important; }

.main-titles {
  color: #d84315;
  font-size: 2.85em;
  margin: 30px; }

.sub-titles {
  color: #000000;
  font-size: 1.85em;
  font-family: 'Righteous',cursive;
  text-rendering: optimizelegibility; }

.other-sub {
  font-size: 1.07em;
  color: #918e88; }

.link {
  color: #ffffff;
  text-decoration: none !important; }

.link:hover {
  text-decoration: none !important; }

.link:visited {
  color: #ffffff;
  text-decoration: none !important; }

.round-img {
  border-radius: 50%; }

.btn-bg-color {
  background-color: #000000; }

.btn-bg-color:hover {
  background-color: #d84315; }

.margins-titles {
  margin: 30px 0; }

.btn-read-more {
  color: #fff;
  padding: 10px;
  font-weight: bolder;
  border-radius: 10px;
  border-style: none;
  text-decoration: none !important; }

.link-read-more {
  color: #000000;
  font-weight: bolder; }

.link-read-more:hover {
  color: #d84315; }

.carousel-indicators li {
  background-color: #ffffff !important;
  border: none; }

.carousel-indicators .active {
  background-color: #d84315 !important;
  border: none; }

h1 {
  color: #918e88; }
