@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
	color: $text-color; 
	font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 18px; 
    text-decoration: none!important;
}

h2{
	color: $main-title-color;
	font-size: 2.85em;
	margin:30px;
	font-family: 'Righteous',cursive;
	text-rendering: optimizelegibility;
	
}

h3{
	color: $sub-title-color;
	font-size: 1.85em;
	font-family: 'Righteous',cursive;
	text-rendering: optimizelegibility;
	
}

h4{
	color: $sub-title-color!important;
}

p{
	font-size: 1.07em;
	color:$text-color;
	margin-top: 15px;
	
}

.link{
	color: $link-color;
	text-decoration: none!important;

	&:hover{
		text-decoration: none!important;
	}

	&:visited{
		color: $link-color-visited;
		text-decoration: none!important; 
	}

}

.round-item-1{
	color: #ffffff;
    font-family: 'Righteous',cursive;
    font-size: 2.85em;
    border-radius: 50%;
    padding: 25px 31px;
    background-color: #f2841e;
    float: left;
    margin-top: 20px;
}

.round-item{
    color: #ffffff;
    font-family: 'Righteous',cursive;
    font-size: 2.85em;
    border-radius: 50%;
    padding: 25px 26px;
    background-color: #f2841e;
    float: left;
    margin-top: 20px;
}

#list-news{
	ol{
		li{
			list-style: none;
			display: inline-block;
		}
	}
}  

.text-news{
	display: inline-block;
	text-align: left;
}

.round-img{
	border-radius: $image-radius;
}

.btn-bg-color{
	background-color: $button-bg-color;

	&:hover{
		background-color: $button-bg-hover-color;
	}
}

.margins-titles{
	margin: 30px 0;
}

.btn-read-more{
	color: #fff;
	padding: 10px;
	font-weight: bolder;
	border-radius: 10px;
	border-style: none;
	text-decoration:none!important;
}

.link-read-more{
	color: $sub-title-color;
	font-weight: normal;
	
	&:hover{
		color: $main-title-color;
	}
}

.carousel-indicators{
	li{
		background-color: $link-color!important;
		border:none;
	}
	.active{
		background-color: $button-bg-hover-color!important;
		border:none; 
	}

}

.testimonies{
	padding: 0px 0px 0px 48px;
	margin: 0 0 20px;
	position: relative;
	text-align: left;

	&:before{
		position: absolute;
		left: 0px;
		top: 0px;
		content: '"';
		color: #f2841e;
		font: 60px/40px Righteous, cursive;
	}
}

@import 'index';
