
$text-color: #918e88;
$main-title-color: #d84315;
$sub-title-color: #000000;


$link-color: #ffffff;
$link-color-hover: #ffffff;


$button-bg-color: #000000;
$button-bg-hover-color: #d84315;


$image-radius: 50%;      