/*text color*/
$text-color: #918e88;
$main-title-color: #d84315;
$sub-title-color: #000000;


/*text size*/
$main-title-size: 40px;
$sub-title-size: 15px;

/*link*/
$link-color: #ffffff;
$link-color-hover: #d84315;

/*button*/
$button-bg-color: #000000;
$button-bg-hover-color: #d84315;

/*image*/
$image-radius: 50%;      